@model List<FoodOrderingSystem.Models.Cart.CartObj>
<h2>GIỎ HÀNG</h2>

@if (Model.Count > 0)
{
    decimal total = 0;
    int stt = 1;

    <table class="table">
        <tr>
            <th>#</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
        @foreach (var cartitem in Model)
        {
            var thanhtien = cartitem.quantity * cartitem.item.unitPrice;
            total += thanhtien;

            <tr>
                <td>@(stt++)</td>
                <td>@cartitem.item.itemName</td>
                <td>@(cartitem.item.unitPrice.ToString("n0"))</td>
                <td><input asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.item.itemID}")" /></td>
                <td>@(thanhtien.ToString("n0"))</td>
                <td>
                    <button class="btn btn-success updatecartitem"
                            data-itemID="@cartitem.item.itemID">
                        Cập nhật
                    </button>
                    <a asp-route="removecart" asp-route-itemID="@cartitem.item.itemID"
                       class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-right">Tổng tiền</td>
            <td>@(total.ToString("n0"))</td>
            <td></td>
        </tr>
    </table>

    <a asp-controller="CustomerDashboard" asp-action="Checkout" class="btn btn-success">Gửi đơn hàng</a>

    @section Scripts {
        <script>
          $(document).ready(function () {
              $(".updatecartitem").click(function (event) {
                  event.preventDefault();
                  var itemID = $(this).attr("data-itemID");
                  var quantity = $("#quantity-" + itemID).val();
                  $.ajax({
                      type: "POST",
                      url:"@Url.RouteUrl("updatecart")",
                      data: {
                          itemID: itemID,
                          quantity:quantity
                      },
                      success: function (result) {
                          window.location.href = "@Url.RouteUrl("cart")";
                      }
                  });
              });
          });
        </script>
    }


}
else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
}