@model List<FoodOrderingSystem.Models.Cart.CartObj>
@{
    ViewData["Title"] = "Các sản phẩm";
}

<body>
    <div class="card-columns">

        <a asp-route="cart"
           class="btn btn-secondary btn-sm float-right">View Cart</a>
        @foreach (var item in Model)
        {

            <div class=card>
                <h3 class="card-header">@item.item.itemName  @item.item.itemID</h3>
                <div class="card-body" style="height: 150px;">
                    @item.item.description
                </div>
                <div class="card-footer">
                    <span class="text-muted">@(item.item.unitPrice.ToString("n0")) VND</span>
                    <input asp-for="@item.quantity" id="@($"quantity-{item.item.itemID}")" />
                    <a asp-route="addcart"
                       class="btn btn-secondary btn-sm float-right addcart"
                       data-itemID="@item.item.itemID">Đặt hàng</a>
                </div>
            </div>

        }

        @section Scripts {
            <script>
          $(document).ready(function () {
              $(".addcart").click(function (event) {
                  event.preventDefault();
                  var itemID = $(this).attr("data-itemID");
                  var quantity = $("#quantity-" + itemID).val();
                  $.ajax({
                      type: "POST",
                      url:"@Url.RouteUrl("addcart")",
                      data: {
                          itemID: itemID,
                          quantity:quantity
                      },
                      success: function (result) {
                      }
                  });
              });
          });
            </script>
        }


    </div>
</body>