@model List<FoodOrderingSystem.Models.Cart.CartObj>
@{
    ViewData["Title"] = "Ordering";
}

<main>
    <header class="stick" style="transform: translate3d(0px, 0px, 0px); position: fixed; top: 0px;">
        <div class="logo-menu-sec">
            <div class="container">
                <div class="logo">
                    <h1 itemprop="headline">
                        <a href="#" title="Home" itemprop="url"><img src="~/images/logo.png" alt="logo.png" itemprop="image"></a>
                    </h1>
                </div>
                <nav>
                    <div class="menu-sec">
                        <form class="restaurant-search-form brd-rd2" style="width: 70%;">
                            <div class="col-md-5 col-sm-4 col-lg-9">
                                <div class="input-field brd-rd4"><input class="brd-rd2" id="search-value" type="text" placeholder="Search dish here..."></div>
                            </div>
                            <div class="col-md-1 col-sm-2 col-lg-3">
                                <button class="brd-rd4 red-bg" onclick="showItemList();" type="button">SEARCH</button>
                            </div>
                        </form>
                        <a class="red-bg brd-rd4 sign-popup-btn" href="#" title="Register" itemprop="url" style="margin-left: 1rem;">REGISTER</a>
                        <a class="red-bg brd-rd4 log-popup-btn" href="#" title="Login" itemprop="url">LOGIN</a>
                        <!-- Authenticate User -->
                    </div>
                </nav>
                <!-- Navigation -->
            </div>
        </div>
        <!-- Logo Menu Section -->
    </header>
    <!-- Header -->
    <section>
        <div class="block gray-bg top-padd30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="sec-box">
                            <div class="sec-wrapper">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-lg-8">
                                        <div class="restaurant-detail-wrapper">
                                            <div class="tab-content" id="dishes-list">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-lg-4">
                                        <div class="order-wrapper right fadeIn" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                            <div class="order-inner gradient-brd">
                                                <h4 itemprop="headline" style="color: #01b1c9; font-weight: 600;">Order Details</h4>
                                                <div class="order-list-wrapper" id="order-list-wrapper">
                                                        @if (Model.Count > 0) {
                                                            decimal total = 0;
                                                    <ul class="order-list-inner" id="order-list">
                                                            @foreach (var cartitem in Model) {
                                                                var subtotal = cartitem.quantity * cartitem.item.unitPrice;
                                                                total += subtotal;
                                                        <li>
                                                            <div class="dish-name">
                                                                <h5 style="display: none">@cartitem.item.itemID</h5>
                                                                <h6><span class="quantity-buy" style="color: #00cf2f">@cartitem.quantity</span> x @cartitem.item.itemName</h6>
                                                                <a class="item-remove-btn" asp-route="removecart" asp-route-itemID="@cartitem.item.itemID"><i class="fa fa-close"></i></a>
                                                                <span class="price money">@(Math.Floor(subtotal))</span>
                                                            </div>
                                                        </li>
                                                            }
                                                    </ul>
                                                    <ul class="order-total">
                                                        <li><span>Sub total</span> <i class="money" id="subtotal-bill">@(Math.Floor(total))</i></li>
                                                        <li><a class="brd-rd2 cash-popup-btn" href="#" title="" itemprop="url">CONFIRM ORDER</a></li>
                                                    </ul>
                                                        }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="log-popup text-center">
        <div class="sign-popup-wrapper brd-rd5">
            <div class="sign-popup-inner brd-rd5">
                <a class="log-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                <div class="sign-popup-title text-center">
                    <h4 itemprop="headline">SIGN IN</h4>
                </div>
                <form class="sign-form">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <input class="brd-rd3" type="email" placeholder="Email" style="font-size: 14px">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <input class="brd-rd3" type="password" placeholder="Password" style="font-size: 14px">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <button class="red-bg brd-rd3">SIGN IN</button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <a class="sign-popup-btn" href="#" title="" itemprop="url">Not a member? Sign up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sign-popup text-center">
        <div class="sign-popup-wrapper brd-rd5">
            <div class="sign-popup-inner brd-rd5">
                <a class="sign-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                <div class="sign-popup-title text-center">
                    <h4 itemprop="headline">SIGN UP</h4>
                </div>
                <form class="sign-form">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <input class="brd-rd3" type="email" placeholder="Email" style="font-size: 14px">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <input class="brd-rd3" type="password" placeholder="Password" style="font-size: 14px">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <button class="red-bg brd-rd3">REGISTER</button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <a class="log-popup-btn" href="#" title="" itemprop="url">Already Registered? Sign in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="payment-popup-wrapper cash-method text-center">
        <div class="payment-popup-inner">
            <a class="payment-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
            <h4 class="payment-popup-title" itemprop="headline">Billing Details</h4>
            <div class="payment-popup-info">
                <form class="payment-popup-info-inner">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <ul class="payment-info-list">
                                <li><span>Name:</span>Huu Quoc</li>
                                <li><span>Email:</span>huuquoc@gmail.com</li>
                                <li><span>Phone:</span>0123456789</li>
                                <li><span>Address:</span>E2a-7, D1 Street, High-Tech Park, Long Thanh My, Thu Duc District, Ho Chi Minh City<a class="red-clr" href="#" title="" itemprop="url"><i class="fa fa-pencil"></i> Edit</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <ul class="payment-info-list">
                                <li><span>Order Note</span></li>
                            </ul><br>
                            <textarea class="brd-rd3" style="margin-top: 1rem; font-size:12px;" placeholder="Description... "></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="confrm-order red-bg ">
                <ul class="order-total">
                    <li><span>Sub total</span> <i>$158</i></li>
                    <li><span>Delivery fee</span> <i>$70</i></li>
                    <li>
                        <hr style="width: 100%; margin: 0;">
                    </li>
                    <li><span style="top: 0%">Total</span> <i>$210</i></li>
                </ul>
                <div class="confrm-order-btn ">
                    <a class="brd-rd3 " href="# " title=" " itemprop="url ">CONFIRM ORDER</a>
                </div>
            </div>
        </div>
    </div>
    <div class="payment-popup-wrapper thanks-message text-center">
        <div class="payment-popup-inner red-bg">
            <a class="thanks-close" href="# " title="" itemprop="url"><i class="fa fa-close"></i></a>
            <i><img src="~/images/tick-icon.png" alt="tick-icon.png" itemprop="image"></i>
            <h3 itemprop="headline">Thanks For Your Order</h3>
            <img class="thanks-message-mockup right" src="~/images/resource/thanks-message-mockup.png " alt="thanks-message-mockup.png" itemprop="image ">
        </div>
    </div>
</main>

<script src="~/js/order-page.js"></script>